@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
}

@layer components {
  .error-text {
    @apply text-danger-500 text-md-1 font-medium;
  }
  .label {
    @apply text-gray-600 text-md-2 mb-2 font-medium;
  }
  .input {
    @apply w-full py-4 px-6 rounded-full border outline-none focus:border-gray-500 shadow-inner disabled:border-shade-BD placeholder:text-shade-BD invalid:border-danger-500;
  }
  .btn {
    @apply px-11 py-4 rounded-full bg-primary-500 text-shade-FG text-md-4 font-semibold hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-50;
  }
  .nav-item {
    @apply bg-shade-FG text-gray-500 hover:bg-primary-50;
  }
  .active-nav-item {
    @apply bg-primary-500 text-primary-50;
  }
  .tab-btn {
    @apply w-full flex rounded-3 cursor-pointer items-center justify-center shadow-md bg-shade-FG hover:bg-shade-40;
  }
  .student-request {
    @apply border-2 border-primary-500;
  }
  .accept-student {
    @apply border-2 border-success-500;
  }
  .reject-student {
    @apply border-2 border-danger-500;
  }
  .ongoing-student {
    @apply border-2 border-warning-500;
  }
  .chip {
    @apply w-full py-3 text-center font-medium rounded-full;
  }
  .success-chip {
    @apply bg-success-50 text-success-500;
  }
  .reject-chip {
    @apply bg-danger-50 text-danger-500;
  }
}

.header-right {
  width: calc(100% - 3.5rem);
}
.sidebar:hover {
  width: 16rem;
}
@media only screen and (min-width: 768px) {
  .header-right {
    width: calc(100% - 16rem);
  }
}

.SingleDatePickerInput {
  height: 56px !important;
  display: flex !important;
  align-items: center !important;
  padding: 0px 24px;
}

.CalendarDay__selected_span {
  background: #1c2560 !important;
  color: #f9f9f9 !important;
  border: 1px solid #999999 !important;
}

.CalendarDay__selected {
  background: #777ca0 !important;
  color: #f9f9f9 !important;
  border: 1px solid #999999 !important;
}

.CalendarDay__selected:hover {
  background: #11163a !important;
  color: white !important;
}

.SingleDatePickerInput_calendarIcon {
  margin: 0 !important;
  width: 20px;
  height: 20px;
  padding: 0 !important;
  color: #696e76 !important;
}

.DateInput_input {
  border-radius: 8px !important;
  margin: 0 !important;
  margin-left: 12px !important;
  /* outline: none; */
  /* overflow: hidden; */
  border: none;
  box-shadow: none;
  /* padding: 0 8px !important; */
  color: #46494e !important;
}

.DateInput_input::placeholder {
  color: #696e76 !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}

.DateInput_input__focused {
  border: none !important;
}

.SingleDatePickerInput__withBorder {
  border-radius: 8px !important;
  overflow: hidden;
  /* padding: 16px 24px !important; */
  margin: 0 !important;
}

.text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; /* number of lines to show */
  -webkit-box-orient: vertical !important;
}
